@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    background: #f2f3f4;
}
.App {

    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: navy 3px dotted;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Clock {
    font-size: 40px;
    color: navy;
    font-family: 'Play', sans-serif;
}
